@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
}

:root {
    --mycolor01: #CCD3D9;
    --mycolor02: #FED5D9;
    --mycolor03: #7E212C;
    --mycolor04: #321E17;
    --mycolor05: #D9CFE7;
    --mycolor06: #A8BCBA;
    --mycolor07: #ACC66D;
    --mycolor08: #50697D;
    --mycolor09: #D2E0E9;
}

.section01 {
    height: 100vh;
    /* vh:根據裝置大小顯示       */
    background-color: var(--mycolor06);
    position: relative;
}

.box01 {
    width: 200px;
    height: 200px;
    background-color: var(--mycolor03);
    position: absolute;
    top: 0;
    left: 0;
}

.box02 {
    width: 200px;
    height: 200px;
    background-color: var(--mycolor03);
    position: absolute;
    top: 0;
    right: 0;
}

.box03 {
    width: 200px;
    height: 200px;
    background-color: var(--mycolor03);
    position: absolute;
    bottom: 0;
    left: 0;
}

.box04 {
    width: 200px;
    height: 200px;
    background-color: var(--mycolor03);
    position: absolute;
    bottom: 0;
    right: 0;
}

.userimg {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-image: url(../immg/fuji3.jpg);
    background-attachment: fixed;
    /* 固定背景圖片 */
}

.bg_cover {
    background-position: center center;
    background-size: cover;
}

.usertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    /* background-color: rgba(9, 9, 9, 0.5); */
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(00, 00, 00, 0.9));
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    flex-direction: column;
    display: flex;
}

.usertext h1 {
    font-size: 80px;
    margin-bottom: 0;
    font-weight: 400;
}

.usertext p {
    font-size: 30px;
}

.section02 {
    padding-top: 20px;
    height: 340px;
    width: 95vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section02_box01 {
    left: 5%;
    border-radius: 50%;
    background-image: url(../immg/p1-Salar-de-Uyuni.jpg);
}

.section02_box02 {
    left: 40%;
    border-radius: 50%;
    background-image: url(../immg/p2-Niagara-Falls.jpg);
}

.section02_box03 {

    right: 10%;
    border-radius: 50%;
    background-image: url(../immg/p3.jpg);
}

.section02_box01,
.section02_box02,
.section02_box03 {
    max-width: 320px;
    max-height: 320px;
    width: 20vw;
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    background-color: #000;
    text-align: center;
    line-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section02_box01 a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 auto;
}

.section02_box02 a {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 auto;
}

.section02_box03 a {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .userimg {
        width: 95%;
    }
}